
  <img src="/src/assets/imgs/cloud.png" alt="Cloud">

  <h1> Estaciones meteorolóxicas</h1>

  <div class="container">

    <nav class="navbar">
      <input type="text" name="search" [(ngModel)]="searchText" aria-label="Search">
    </nav>

    <table mat-table class="table table-bordered hover w-75 text-align-center" matSort>
      <thead>
        <tr>
          <th (click)="sort('estacion')">Nome da estación</th>
          <th (click)="sort('provincia')">Provincia</th>
          <th (click)="sort('concello')">Concello</th>
          <th (click)="sort('altitude')">Altitude</th>
          <th (click)="sort('lat')">Latitude</th>
          <th (click)="sort('lon')">Lonxitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lem of listaEstacionsMeteo | filter:searchText | paginate:{itemsPerPage:8, currentPage:actualPage} | orderBy: orderHeader : isDescOrder" >
          <td>
            <a [routerLink]="['/redirection']">
              {{lem.estacion}}
            </a>
          </td>
          <td>{{lem.provincia}}</td>
          <td>{{lem.concello}}</td>
          <td>{{lem.altitude}}</td>
          <td>{{lem.lat}}</td>
          <td>{{lem.lon}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>

  </div>

  <img src="/src/assets/imgs/sun.png" alt="Sun">



