<body>
  <img src="" alt="Cloud">

  <h1> Estaciones meteorolóxicas</h1>

  <div class="container">

    <nav class="navbar">
      <input type="text" name="search" [(ngModel)]="searchText" aria-label="Search">
    </nav>
    <table class="table table-bordered hover w-75 text-align-center">
      <thead>
        <tr>
          <th>Nome da estación</th>
          <th>Provincia</th>
          <th>Concello</th>
          <th>Altitude</th>
          <th>Latitude</th>
          <th>Lonxitude</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let lem of listaEstacionsMeteo | filter:searchText">
          <td>{{lem.estacion}}</td>
          <td>{{lem.provincia}}</td>
          <td>{{lem.concello}}</td>
          <td>{{lem.altitude}}</td>
          <td>{{lem.lat}}</td>
          <td>{{lem.lon}}</td>
        </tr>
      </tbody>
    </table>

  </div>

  <img src="" alt="Sun">
</body>

