<div id="main"class="container position-relative">
<div id="header">
  <img id="sun2" class="img-responsive position-absolute" src="./assets/imgs/sun.png" alt="Cloud">
  <div>
    <a id="return" [routerLink]="['/datatable']">Volver á lista</a>

    <h1> Datos diarios</h1>
  </div>

</div>


  <div class="container">

    <div id="dayHeaderInfo">
       <!-- <h1>{{estacion}}</h1> -->
    </div>

    <table id="dayInformation" mat-table class="table hover w-75 text-align-center">
      <thead>
        <tr>
          <th>Nome prámetro</th>
          <th>Unidade</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ldd of listDatosDiarios | ObjToArray">
            <td>{{ldd?.listaEstacions?.estacion}}</td>
            <td>{{ldd?.listaEstacions?.unidade}}</td>
            <td>{{ldd?.listaEstacions?.valor}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <img id="cloud2" class="img-responsive" width="220px" src="./assets/imgs/cloud.png" alt="Cloud">
</div>
